<!DOCTYPE html>
<html lang="en">
    <head>
	 <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     <title>Awesome books</title>
	 @Styles.Render("~/Content/css/main")
	 @RenderSection("styles", required: false)
@*	 @Styles.Render("~/Script/libs/bootstrap/css")*@
    </head>
    <body>
        
        @RenderBody()
      
		@Scripts.Render("~/Scripts/libs")
		@Scripts.Render("~/Scripts/main")

		@RenderSection("scripts", required: false)

    </body>
</html>
